emr:
  aws_access_key: <AWS Access Key>
  aws_secret_access_key: <AWS Secret Access Key>
  region_name: <Region Name>
  cluster_name: <Cluster Name>
  instance_count: <Number of Instances>
  key_name: <Ec2 Keyname>
  log_uri: s3://<Your S3 Location to the Logs>
  software_version: <emr-5.x.x>
  script_bucket_name: <Name of Bucket to be created on S3>